<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input type="email" matInput placeholder="Username"
        formControlName="username">
        <mat-error>Invalid or missing username.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Password"
        formControlName="password">
        <mat-error>Missing password.</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid" >Log In</button>
    <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
  </form>
</section>
