.header {
  padding: 0 16px;

  p {
    font-size: 18px;
    font-weight: bold;
  }
}

.title {
  padding-bottom: 1em;

  p {
    font-weight: bold;
  }
}

p.subtitle {
  width: 90px;
}


.mat-card-content.next-content {
  padding-top: 24px;
}
