<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">TST Application</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs >
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li>
        <a routerLink="/signup">
          Singup
        </a>
      </li>
      <li>
        <a routerLink="/login">
          Login</a>
        </li>
      <li >
        <a routerLink="/business">
          business
        </a>
      </li>
      <li >
        <a routerLink="/vendor">
          vendor
        </a>
      </li>
      <li >
        <a routerLink="/product">
          product
        </a>
      </li>

      <li >
        <a routerLink="/weight-loadings">
          ชั่งน้ำหนัก
        </a>
      </li>
      <li >
        <a style="cursor: pointer;" >
          Logout
        </a>
      </li>
    </ul>

  </div>
</mat-toolbar>
