<section>
  <form [formGroup]="weightLoadingOutForm" (ngSubmit)="onSubmit()">

    <div mat-dialog-title fxlayout="column">
      <div class="header" [ngClass]="{'sell-mode': this.weightLoadingOutForm.get('type').value === 'sell',
                    'buy-mode': this.weightLoadingOutForm.get('type').value === 'buy'}" fxlayout="row" fxLayoutAlign="space-between center">
        <div>
          <span>ชั่งรถออก</span>
        </div>

        <div class="end" fxLayoutGap="10px">
          <!-- <button mat-icon-button type="button" #btnNotes class="note" (click)="onShowNoteDetail()">
            <mat-icon [matBadge]="notes.length" matBadgeColor="warn" [matBadgeHidden]="notes.length === 0">
              note</mat-icon>

          </button> -->


          <button mat-icon-button type="button" #btnMenu [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item type="button">
              <mat-icon>info</mat-icon>
              <span>รายละเอียดการชั่ง</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item type="button" (click)="saveData()">
              <mat-icon>edit</mat-icon>
              <span>แก้ไขข้อมูลการชั่ง</span>
            </button>
            <button mat-menu-item type="button" (click)="onCancel()">
              <mat-icon>delete</mat-icon>
              <span>ลบข้อมูลการชั่ง</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>

    <mat-dialog-content fxLayout="column">
      <div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h4>รายละเอียด</h4>
          <span matTooltipPosition="below" matTooltip="ลำดับการชั่ง">{{ weightLoading.id }}</span>
        </div>

        <div fxLayout.gt-sm="row" fxLayout.xs="column">
          <mat-form-field fxFlex>
            <input matInput type="text" placeholder="ทะเบียนรถ" formControlName="car">
            <mat-error>กรุณาใส่ทะเบียนรถ</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput type="text" placeholder="ลูกค้า" formControlName="vendor">
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-form-field fxFlex="50%">
            <input matInput type="text" placeholder="สินค้า" formControlName="product" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let product of filteredProducts | async" [value]="product.name">
                <span>{{ product.id }}</span> &nbsp; {{ product.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error>กรุณาเลือกรายการสินค้า</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="50%">
            <input matInput type="number" placeholder="ราคา" step="0.01" formControlName="price" cdkFocusInitial>
            <mat-error *ngIf="weightLoadingOutForm.get('price').errors">
              กรุณาใส่ราคาสินค้า
            </mat-error>
          </mat-form-field>

        </div>


        <!-- Tpye Weight Loading -->
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex fxLayout>
            <mat-button-toggle-group #btnGroup="matButtonToggleGroup" formControlName="type">
              <mat-button-toggle class="buy" value="buy">ซื้อเข้า</mat-button-toggle>
              <mat-button-toggle class="sell" value="sell">ขายออก</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <button mat-button type="button" color="warn" #btnCutWeight fxFlexAlign="start" *ngIf="!showCutWeight && btnGroup.value !='sell'"
              (click)="onShowCutWeight()">
              หักสิ่งเจือปน
            </button>

          </div>

        </div>
        <!-- Additional -->
        <mat-nav-list *ngIf="notes!==null">
          <h4>เพิ่มเติม</h4>
          <mat-list-item class="cut-weight" *ngIf="cutWeight!==null" (click)="onShowCutWeight()">
            <mat-label>
              หักสิ่งเจือปน {{totalCutWeight}} หน่วย ({{cutWeight.value}} {{cutWeight.unitType}}) เนื่องจาก{{cutWeight.note}}
            </mat-label>
          </mat-list-item>
        </mat-nav-list>

      </div>

      <h4>ข้อมูลน้ำหนัก (กิโลกรัม)</h4>
      <div class="weight-field">
        <label>น้ำหนักเข้า</label>
        <input type="number" formControlName="weightIn">
      </div>
      <div class="weight-field weight-field-focus">
        <label>น้ำหนักออก</label>
        <input type="number" formControlName="weightOut">
      </div>

      <div class="weight-field weight-field-alert" *ngIf="totalCutWeight != 0">
        <label>หักน้ำหนัก</label>
        <input type="number" formControlName="cutWeight">
      </div>

      <div class="weight-field weight-field-bold">
        <label>น้ำหนักสุทธิ</label>
        <input type="number" formControlName="totalWeight">
      </div>

      <!-- <h4>คำนวณเงิน (บาท)</h4> -->
      <div class="amount-field">
        <label>ยอดเงินสุทธิ</label>
        <input type="number" formControlName="amount">
      </div>

    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions fxLayout="column">

      <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!loadingMode">
        <button mat-button type="button" #btnCancel [mat-dialog-close]="false" color="error">ยกเลิก</button>

        <button mat-raised-button type="submit" class="save" color="primary" [ngClass]="{'sell-mode': this.weightLoadingOutForm.get('type').value === 'sell',
                      'buy-mode': this.weightLoadingOutForm.get('type').value === 'buy'}" [disabled]="!weightLoadingOutForm.valid">
          บันทึกข้อมูล
        </button>
      </div>

      <div fxFlex fxLayout="row" fxLayoutAlign="center none" *ngIf="loadingMode" style="padding:9px 0;">
        <mat-spinner diameter="20"></mat-spinner>
        &nbsp;&nbsp;
        <span>บันทึกข้อมูล</span>


      </div>

    </mat-dialog-actions>

  </form>
</section>
