@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($mat-indigo);
$app-accent : mat-palette($mat-pink, A200, A100, A400);
$app-theme: mat-light-theme($app-primary, $app-accent);
@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);
  .mat-dialog-title {
    margin: 0;
    .header {
      background: mat-color($primary);
      margin: -24px -24px 0 -24px;
      padding: 12px 24px;
      color: white;
      .end {
        margin-right: -10px;
      }

    }
    .sell-mode{
      background: mat-color($accent)
    }
  }

  .sell-mode{
    background: mat-color($accent)
  }

  mat-dialog-actions {
    bottom: 0;
  }
  mat-divider {
    margin: 0 -24px;
  }
  .input-right {
    font-size: 24px;
    text-align: right;
    color: mat-color($primary);
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px;
    padding: .75em .75em 0 .75em;
  }
  .weight-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    padding: 1.2em;
    margin: 0.3em 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
    label {
      display: block;
      width: 200px;
    }
    input {
      width: 100%;
      font-size: 24px;
      text-align: right;
      border: 0;
      background: rgba(0, 0, 0, 0);
      outline: none;
    }
  }
  .weight-field-focus {
    color: mat-color($primary);
    input {
      color: mat-color($primary);
    }
  }
  .weight-field-alert {
    color: #f44336;
    input {
      color: #f44336;
    }
  }
  .weight-field-bold {
    font-weight: bold; // border: 2px solid #3f51b5;
    input {
      font-weight: bold;
    }
  }
  .amount-field {
    font-weight: bold;
    color: mat-color($primary);
    border: 2px solid mat-color($primary);
    background: rgba(0, 17, 255, 0.05);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    padding: 1.75em;
    margin: 0.3em 0 1em 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    label {
      display: block;
      width: 200px;
    }
    input {
      width: 100%;
      font-size: 24px;
      text-align: right;
      border: 0;
      background: rgba(0, 0, 0, 0);
      outline: none;
      color: mat-color($primary);
      font-weight: bold;
    }
    &:hover {
      background: rgba(0, 17, 255, 0.05);
    }
  }
  .cut-weight-field {
    background: rgba(0, 0, 0, 0.03); // border: 3px solid #ccc;
    border-radius: 4px;
    padding: 1em 0.75em;
    margin-top: 1em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    &:hover {
      background: rgba(255, 0, 0, 0.05); // color: #f44336;
    }
  }
  .mat-button-toggle-checked.buy {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }
  .mat-button-toggle-checked.sell {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }
}

// Include the mixin
@include mix-app-theme($app-theme);
