<div>


  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <p>การชั่งน้ำหนัก</p>
  </div>
  <mat-card>
    <mat-card-content>
      <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <p class="subtitle">รูปแบบ:</p>
        <mat-radio-group [(ngModel)]="weightLoadingMode" (change)="onChangeWeightLoadingMode()" fxLayoutGap="20px">
          <mat-radio-button value="auto">Auto</mat-radio-button>
          <mat-radio-button value="manual">Manual</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card-content>
  </mat-card>

  <form [formGroup]="deviceSettingForm">
    <div fxFlex fxLayout="column" *ngIf="weightLoadingMode==='auto'" style="margin: 20px 0">
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <p>อุปกรณ์</p>
        <button mat-icon-button type="button" color="primary" *ngIf="!editDevice" (click)="onEditDevice()">
          <mat-icon>settings</mat-icon>
        </button>
      </div>

      <mat-card>

        <mat-card-content>
          <div class="title" fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
            <p>Connection</p>
          </div>

          <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <p class="subtitle">Model:</p>
            <mat-form-field appearance="fill" fxFlex>
              <mat-select formControlName="model">
                <mat-option [value]="device.model">{{device.model}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <p class="subtitle">Mode:</p>
            <mat-form-field appearance="fill" fxFlex>
              <mat-select formControlName="device_mode">
                <mat-option [value]="'local'">Local</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <p class="subtitle">Mac Address:</p>
            <mat-form-field appearance="fill" fxFlex>
              <input matInput formControlName="mac_address">
              <!-- <mat-icon matSuffix>check_circle_outline</mat-icon> -->
            </mat-form-field>
          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <p class="subtitle">Status:</p>
            <div fxLayoutGap="20px">
              <mat-label>{{device.status}}</mat-label>
            </div>

          </div>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-content class="next-content">
          <div class="title" fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
            <p>Serial Port Options</p>
            <div fxLayoutAlign="center center">
              <button mat-stroked-button color="primary" type="button" *ngIf="editDevice" (click)="onRescanPort()">
                <mat-icon>refresh</mat-icon>
                Re-Scan
              </button>
            </div>
          </div>

          <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <p class="subtitle">Port:</p>
            <mat-form-field appearance="fill" fxFlex>
              <mat-select formControlName="port">
                <mat-option *ngFor="let port of portList" [value]="port">{{port}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <p class="subtitle">Buadrate:</p>
            <mat-form-field appearance="fill" fxFlex>
              <mat-select formControlName="buad_rate">
                <mat-option *ngFor="let option of serialPortOptions.buad_rate" [value]="option">{{option}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <p class="subtitle">Data Bits:</p>
            <mat-form-field appearance="fill" fxFlex>
              <mat-select formControlName="data_bits">
                <mat-option *ngFor="let option of serialPortOptions.data_bits" [value]="option">{{option}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <p class="subtitle">Parity:</p>
            <mat-form-field appearance="fill" fxFlex>
              <mat-select formControlName="parity">
                <mat-option *ngFor="let option of serialPortOptions.parity" [value]="option">{{option}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <p class="subtitle">Stop Bits: </p>
            <mat-form-field appearance="fill" fxFlex>
              <mat-select formControlName="stop_bits">
                <mat-option *ngFor="let option of serialPortOptions.stop_bits" [value]="option">{{option}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </mat-card-content>


        <mat-divider></mat-divider>
        <mat-card-content class="next-content">
          <div class="title" fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
            <p>Parsing Data</p>

          </div>

          <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <p class="subtitle">Parse Function:</p>
            <mat-form-field appearance="fill" fxFlex>
              <mat-select formControlName="function">
                <mat-option [value]="device.parsing">{{device.parsing}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
            <p class="subtitle">Received: </p>
            <div fxFlex fxLayout="column">
              <mat-form-field appearance="outline" fxFlex>
                <textarea matInput placeholder="Data..." matTextareaAutosize="true" matAutosizeMinRows="3"
                  matAutosizeMaxRows="5" formControlName="receive_data"></textarea>
              </mat-form-field>
              <div>
                <button mat-button color="primary">
                  <mat-icon>play_arrow</mat-icon>
                  ทดสอบค่า
                </button>
                <button mat-button color="warn">
                  <mat-icon>stop</mat-icon>
                  หยุด
                </button>
              </div>

            </div>

          </div>
        </mat-card-content>
        <mat-divider *ngIf="editDevice"></mat-divider>
        <mat-card-actions *ngIf="editDevice">
          <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" style="margin:10px 0">
            <button mat-stroked-button color="primary" type="submit" (click)="onSaveDeviceMode()">
              <mat-icon>save</mat-icon>
              บันทึก
            </button>
            <button mat-stroked-button color="warn" type="button" (click)="onCancelDeviceMode()">
              <mat-icon>close</mat-icon>
              ยกเลิก
            </button>
          </div>
        </mat-card-actions>

      </mat-card>
    </div>

  </form>

  <p>You selected: {{deviceSettingForm.value| json}}</p>
