@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($mat-indigo);
$app-accent : mat-palette($mat-pink, A200, A100, A400);
$app-theme: mat-light-theme($app-primary, $app-accent);
@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .search {
  // margin-bottom: -20px;
  mat-icon {
    color: rgba(0, 0, 0, 0.5);
  }
}

mat-row:hover{
  background-color: rgba(160, 206, 248, 0.08)
}

 mat-cell.buy{
  color: mat-color($primary);
}
mat-cell.sell{
  color:  mat-color($accent);
}

}
// Include the mixin
@include mix-app-theme($app-theme);
