<div fxLayout="column" fxLayoutGap="15px">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start end" fxLayoutAlign.xs="start center">
    <div fxFlex fxLayout="row" fxLayoutAlign.xs="center center" fxLayoutGap="15px">
      <mat-form-field fxFlex="38%">
        <input matInput [matDatepicker]="pickerFromDate" placeholder="วันชั่งนน.ตั้งแต่">
        <mat-datepicker-toggle matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerFromDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex="38%">
        <input matInput [matDatepicker]="pickerToDate" placeholder="ถึง" >
        <mat-datepicker-toggle matSuffix [for]="pickerToDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerToDate></mat-datepicker>
      </mat-form-field>

    </div>

    <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">

      <mat-form-field class="search" floatLabel="never">
        <input matInput placeholder="ค้นหา" type="text" (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <button mat-button [matMenuTriggerFor]="menu">
        <div fxLayout="row" fxLayoutAlign="start center">
          {{viewSelected}}
          <mat-icon class="mat-18">arrow_drop_down</mat-icon>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="selectView('all')">ทั้งหมด</button>
        <button mat-menu-item (click)="selectView('buy')">ซื้อเข้า</button>
        <button mat-menu-item (click)="selectView('sell')">ขายออก</button>
      </mat-menu>

    </div>
  </div>

  <mat-table [dataSource]="dataSource" matSort *ngIf="finishedWeightLoadingList.length>0">

    <ng-container matColumnDef="car">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center"> ทะเบียนรถ </mat-header-cell>
      <mat-cell *matCellDef="let element" fxLayoutAlign="center center"> {{element.car}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateLoadIn">
      <mat-header-cell *matHeaderCellDef  mat-sort-header fxLayoutAlign="start center"> ช่วงเวลารถเข้า - ออก </mat-header-cell>
      <mat-cell *matCellDef="let element" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center center">
          <span>{{element.dateLoadIn | date}}</span>
        <span>{{element.dateLoadIn | date:"HH:mm"}} - {{element.dateLoadOut | date:"HH:mm"}} </span>
        </div>

    </mat-cell>
    </ng-container>

    <ng-container matColumnDef="product">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center"> สินค้า </mat-header-cell>
      <mat-cell *matCellDef="let element" fxLayoutAlign="center center" > {{element.product}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="weightIn">
      <mat-header-cell *matHeaderCellDef fxHide.xs fxLayoutAlign="space-evenly center"> น้ำหนักเข้า </mat-header-cell>
      <mat-cell *matCellDef="let element" fxHide.xs fxLayoutAlign="space-evenly center"> {{element.weightIn | number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="weightOut">
      <mat-header-cell *matHeaderCellDef fxHide.xs fxLayoutAlign="space-evenly center"> น้ำหนักออก </mat-header-cell>
      <mat-cell *matCellDef="let element" fxHide.xs fxLayoutAlign="space-evenly center"> {{element.weightOut | number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef fxHide.xs mat-sort-header fxLayoutAlign="space-evenly center"> ประเภท </mat-header-cell>
      <mat-cell *matCellDef="let element" fxHide.xs fxLayoutAlign="space-evenly center" [ngClass]="{'buy': element.type ==='buy', 'sell': element.type ==='sell'}" > {{element.type}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="{'buy': row.type ==='buy', 'sell': row.type ==='sell'}"
    ></mat-row>
  </mat-table>

  <div *ngIf="finishedWeightLoadingList.length === 0">ไม่มีข้อมูลชั่งน้ำหนักเข้า</div>

</div>
