<div class="blocker" *ngIf="isLoading">
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</div>

<div fxLayout="column" fxLayoutGap="15px">
  <!-- <div fxLayout="row"> -->
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="accent" [disabled]="weightLoadingMode==='auto' && deviceData.state!=='inactive'"
      (click)="onRecordWeightLoadingIn()">ชั่งน้ำหนัก</button>

    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="10px">
      <div *ngIf="weightLoadingMode==='auto' && deviceData.state!=='inactive'" fxLayout="row" fxLayoutAlign="start center"
        fxLayoutGap="10px">
        <mat-spinner color="warn" diameter="20"></mat-spinner>
        <span>กำลังชั่งน้ำหนัก...</span>
      </div>

    </div>
  </div>

  <mat-table [dataSource]="dataSource" matSort *ngIf="dataSource.data.length>0" class="mat-elevation-z8">

  <ng-container matColumnDef="car">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ทะเบียนรถ </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.car}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dateLoadIn">
    <mat-header-cell *matHeaderCellDef fxHide.xs mat-sort-header fxLayoutAlign="center center"> ช่วงเวลารถเข้า
    </mat-header-cell>
    <mat-cell *matCellDef="let element" fxHide.xs fxLayoutAlign="center center">
      {{element.dateLoadIn.toDate() | relativeTimePipe}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="product">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center"> สินค้า </mat-header-cell>
    <mat-cell *matCellDef="let element" fxLayoutAlign="center center"> {{element.product}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="weightIn">
    <mat-header-cell *matHeaderCellDef fxHide.xs fxLayoutAlign="space-evenly center"> น้ำหนักเข้า </mat-header-cell>
    <mat-cell *matCellDef="let element" fxHide.xs fxLayoutAlign="space-evenly center"> {{element.weightIn | number}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="space-evenly center"> ประเภท </mat-header-cell>
    <mat-cell *matCellDef="let element" fxLayoutAlign="space-evenly center"> {{element.type}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRecordWeightLoadingOut(row)"></mat-row>
  </mat-table>

  <div *ngIf="dataSource.data.length === 0">ไม่มีข้อมูลชั่งน้ำหนักเข้า</div>

</div>
